In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings

warnings.filterwarnings(
  'ignore'
)

In [2]:
df = pd.read_csv('../Data/heart.csv')
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [3]:
df.tail()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [6]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [7]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [9]:
df[df.select_dtypes(exclude=['object']).columns.to_list()]

     Age  RestingBP  Cholesterol  FastingBS  MaxHR  Oldpeak  HeartDisease
0     40        140          289          0    172      0.0             0
1     49        160          180          0    156      1.0             1
2     37        130          283          0     98      0.0             0
3     48        138          214          0    108      1.5             1
4     54        150          195          0    122      0.0             0
..   ...        ...          ...        ...    ...      ...           ...
913   45        110          264          0    132      1.2             1
914   68        144          193          1    141      3.4             1
915   57        130          131          0    115      1.2             1
916   57        130          236          0    174      0.0             1
917   38        138          175          0    173      0.0             0

[918 rows x 7 columns]

In [10]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

object_cols = df.select_dtypes(include=['object']).columns.to_list()
object_cols = object_cols + ['FastingBS']

ohe = OneHotEncoder(
    handle_unknown='ignore',
    drop='first',
    sparse_output=False
)

# Encode categorical features
encoded_df = pd.DataFrame(
    ohe.fit_transform(df[object_cols]),
    columns=ohe.get_feature_names_out(object_cols),
    index=df.index
)

# Drop original object columns
df = df.drop(object_cols, axis=1)

# Combine numeric + encoded categorical
final_df = pd.concat([df, encoded_df], axis=1)

scaled_df = final_df.copy()

numeric_cols = df.select_dtypes(exclude=['object']).columns.to_list()
numeric_cols.remove('HeartDisease')

scaler = StandardScaler()

scaled_df[numeric_cols] = scaler.fit_transform(scaled_df[numeric_cols])

scaled_df

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up,FastingBS_1
0,-1.433140,0.410909,0.825070,1.382928,-0.832432,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,-0.478484,1.491752,-0.171961,0.754157,0.105664,1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,-1.751359,-0.129513,0.770188,-1.525138,-0.832432,0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,-0.584556,0.302825,0.139040,-1.132156,0.574711,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,0.051881,0.951331,-0.034755,-0.581981,-0.832432,0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,-0.902775,-1.210356,0.596393,-0.188999,0.293283,1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
914,1.536902,0.627078,-0.053049,0.164684,2.357094,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
915,0.370100,-0.129513,-0.620168,-0.857069,0.293283,1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
916,0.370100,-0.129513,0.340275,1.461525,-0.832432,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
917,-1.645286,0.302825,-0.217696,1.422226,-0.832432,0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [11]:
final_df

,Age,RestingBP,Cholesterol,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up,FastingBS_1
0,40,140,289,172,0.0,0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,49,160,180,156,1.0,1,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,37,130,283,98,0.0,0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,48,138,214,108,1.5,1,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
4,54,150,195,122,0.0,0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,132,1.2,1,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
914,68,144,193,141,3.4,1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
915,57,130,131,115,1.2,1,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
916,57,130,236,174,0.0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
917,38,138,175,173,0.0,0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
  df.drop(['HeartDisease'], axis=1),
  df['HeartDisease'],
  test_size=20,
  random_state=42
)
X_train.shape, X_test.shape

((898, 5), (20, 5))

In [13]:
X_train_scaled, X_test_scaled, y_train_scaled, y_test_scaled = train_test_split(
  df.drop(['HeartDisease'], axis=1),
  df['HeartDisease'],
  test_size=20,
  random_state=42
)
X_train_scaled.shape, X_test_scaled.shape

((898, 5), (20, 5))

In [16]:
# Use only the requested models with manual preprocessing (no Pipelines)
from sklearn.metrics import accuracy_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score

# Reload and preprocess explicitly (scale numerics + one-hot encode categoricals)
raw_df = pd.read_csv('../Data/heart.csv')
X = raw_df.drop('HeartDisease', axis=1)
y = raw_df['HeartDisease']

numeric_cols = ['Age', 'RestingBP', 'Cholesterol', 'MaxHR', 'Oldpeak']
categorical_cols = ['Sex', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope', 'FastingBS']

scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown='ignore', drop='first', sparse_output=False)

num_scaled = scaler.fit_transform(X[numeric_cols])
cat_encoded = ohe.fit_transform(X[categorical_cols])
X_processed = np.hstack([num_scaled, cat_encoded])

X_train, X_test, y_train, y_test = train_test_split(
    X_processed, y, test_size=0.2, random_state=42, stratify=y
)

models = {
    "LogisticRegression": LogisticRegression(max_iter=500, n_jobs=-1),
    "KNN": KNeighborsClassifier(n_neighbors=11),
    "NaivBayes": GaussianNB(),
    "DecisionTree": DecisionTreeClassifier(max_depth=6, min_samples_leaf=2, random_state=42),
    "SupportVectorMachine": SVC(kernel='rbf', C=3, gamma='scale')
}

cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

result = []
for name, model in models.items():
    cv_f1 = cross_val_score(model, X_processed, y, cv=cv, scoring='f1', n_jobs=-1)

    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)

    acc = accuracy_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)

    result.append({
        'Model': name,
        'CV_F1_mean': round(cv_f1.mean(), 3),
        'CV_F1_std': round(cv_f1.std(), 3),
        'Accuracy': round(acc, 3),
        'F1_Score': round(f1, 3)
    })

pd.DataFrame(result).sort_values(by='F1_Score', ascending=False)

                  Model  CV_F1_mean  CV_F1_std  Accuracy  F1_Score
2             NaivBayes       0.875      0.010     0.913     0.921
1                   KNN       0.885      0.015     0.902     0.914
4  SupportVectorMachine       0.873      0.022     0.891     0.903
0    LogisticRegression       0.880      0.017     0.886     0.900
3          DecisionTree       0.831      0.032     0.815     0.830